services:
  api:
    image: diehockn-api
    environment:
      - PUID=1000
      - PGID=1000
      - GITHUB_WEBSITE_SECRET_KEY=${GITHUB_WEBSITE_SECRET_KEY}
      - GITHUB_API_SECRET_KEY=${GITHUB_API_SECRET_KEY}
    #ports:
    #  - 5013:8080
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.api.rule=Host(`api.diehockn.com`)
      - traefik.http.routers.api.entrypoints=websecure,websecure
      - traefik.http.services.api.loadbalancer.server.port=8080
      - traefik.http.routers.api.tls=true
      - traefik.http.routers.api.tls.certresolver=cloudflare
    volumes:
      - /home/elena/configs/diehockn.com:/app/diehockn.com

    restart: unless-stopped
networks:
  traefik:
    external: true
